@page "/problems"
@using CodingCompetitionPlatform.Services;
@model CodingCompetitionPlatform.Pages.ProblemsModel
@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/CodingCompetitionPlatform.styles.css" asp-append-version="true" />

<div id="problems-container">
    @foreach (var problem in LoadProblems.PROBLEMS)
    {
        string ifCompletedClass = (Model.GetCompletionStatus(problem)) ? ("solved") : ("");
        <a class="problem-entry @ifCompletedClass" href="/problem?problemIndex=@problem.problemIndex" target="_top">
            <span class="problem-title">@problem.name</span>
            <span class="problem-difficulty @problem.difficulty">@LoadProblems.ConvertTitle(problem.difficulty)</span>
            <span class="problem-points">@problem.points points</span>
        </a>
    }
</div>